package ${package}.controller.${moduleName};



import ${package}.${moduleName}.dto.${className}DTO;
import ${package}.${moduleName}.vo.${className}VO;
import ${package}.service.${moduleName}.${className}Service;
import com.shebao.framework.util.bean.ResultData;
import com.shebao.framework.util.page.PageRequest;
import com.shebao.framework.util.page.Pagination;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;

import java.util.List;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Api(tags = "")
@RestController
@RequestMapping("${pathPrefix}${moduleName}")
@Slf4j
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;



    /**
    * 列表查询
    */
    @ApiOperation(value = "列表查询")
    @RequestMapping(value = "/list", method = RequestMethod.GET)
    public ResultData<List<${className}VO>> list(${className}DTO ${classname}DTO) {
        ResultData<List<${className}VO>> resultData = ${classname}Service.findList(${classname}DTO);
        return resultData;
    }

    /**
    * 分页查询
    */
    @ApiOperation(value = "分页查询")
    @RequestMapping(value = "/pageList", method = RequestMethod.GET)
    public ResultData<Pagination<${className}VO>> pageList(PageRequest<${className}DTO> pageRequest) {
        ResultData<List<${className}VO>> resultData = ${classname}Service.findListForPage(pageRequest);
        Pagination<${className}VO> pagination = new Pagination<>();
        pagination.setList(resultData.getData());
        return ResultData.success("成功", pagination);
    }


    /**
     * 详情
     */
    @ApiOperation(value = "详情查询")
    @RequestMapping(value = "/info", method = RequestMethod.GET)
    public ResultData<${className}VO> info(Long id) {
        ResultData<${className}VO> resultData = ${classname}Service.selectById(id);
        return resultData;
    }

    /**
     * 保存
     */
    @ApiOperation(value = "保存")
    @RequestMapping(value = "/save", method = RequestMethod.POST)
    public ResultData<Integer> save(@RequestBody ${className}DTO ${classname}DTO) {
        ResultData<Integer> resultData = ${classname}Service.insertSelective(${classname}DTO);
        return resultData;
    }

    /**
     * 修改
     */
    @ApiOperation(value = "修改")
    @RequestMapping(value = "/update", method = RequestMethod.POST)
    public ResultData<Integer> update(@RequestBody ${className}DTO ${classname}DTO) {
        ResultData<Integer> resultData = ${classname}Service.updateById(${classname}DTO);
        return resultData;
    }

    /**
     * 删除
     */
    @ApiOperation(value = "删除")
    @RequestMapping(value = "/delete", method = RequestMethod.POST)
    public ResultData<Integer> delete(Long id) {
        ResultData<Integer> resultData = ${classname}Service.deleteById(id);
        return resultData;
    }

}
