package ${package}.controller.${moduleName};



import ${package}.${moduleName}.dto.${className}InsertDTO;
import ${package}.${moduleName}.dto.${className}UpdateDTO;
import ${package}.${moduleName}.dto.${className}QueryDTO;
import ${package}.${moduleName}.vo.${className}VO;
import ${package}.service.${moduleName}.${className}Service;
import com.shebao.framework.util.bean.ResultData;
import com.shebao.framework.util.page.PageRequest;
import com.shebao.framework.util.page.Pagination;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;

import java.util.List;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Api(tags = "")
@RestController
@RequestMapping("${pathPrefix}${moduleName}")
@Slf4j
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;




    /**
    * 分页查询
    */
    @ApiOperation(value = "分页查询")
    @RequestMapping(value = "/pageList", method = RequestMethod.POST)
    public ResultData<Pagination<${className}VO>> pageList(@RequestBody PageRequest<${className}QueryDTO> pageRequest) {
        ResultData<List<${className}VO>> resultData = ${classname}Service.queryListForPage(pageRequest.getData());
        Pagination<${className}VO> pagination = new Pagination<>();
        pagination.setList(resultData.getData());
        return ResultData.success("成功", pagination);
    }



    @ApiOperation(value = "查询单个-根据动态参数")
    @RequestMapping(value = "/info", method = RequestMethod.GET)
    public ResultData<${className}VO> selectOne(${className}QueryDTO ${classname}QueryDTO) {
        ResultData<${className}VO> resultData = ${classname}Service.queryInfo(${classname}QueryDTO);
        return resultData;
    }

    /**
     * 保存
     */
    @ApiOperation(value = "保存")
    @RequestMapping(value = "/save", method = RequestMethod.POST)
    public ResultData<Integer> save(@RequestBody ${className}InsertDTO ${classname}InsertDTO) {
        ResultData<Integer> resultData = ${classname}Service.insertSelective(${classname}InsertDTO);
        return resultData;
    }

    /**
     * 修改
     */
    @ApiOperation(value = "修改")
    @RequestMapping(value = "/update", method = RequestMethod.POST)
    public ResultData<Integer> update(@RequestBody ${className}UpdateDTO ${classname}UpdateDTO) {
        ResultData<Integer> resultData = ${classname}Service.updateById(${classname}UpdateDTO);
        return resultData;
    }

    /**
     * 删除
     */
    @ApiOperation(value = "删除")
    @RequestMapping(value = "/delete", method = RequestMethod.POST)
    public ResultData<Integer> delete(Long id) {
        ResultData<Integer> resultData = ${classname}Service.deleteById(id);
        return resultData;
    }


    /**
   * 数量查询
   */
    @ApiOperation(value = "数量查询")
    @RequestMapping(value = "/count", method = RequestMethod.GET)
    public ResultData<Integer> queryCount(${className}QueryDTO ${classname}QueryDTO) {
        ResultData<Integer> resultData = ${classname}Service.queryCount(${classname}QueryDTO);
        return resultData;
    }

}
