package ${package}.${moduleName}.dto;

import com.shebao.framework.util.page.PageParamVo;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}DTO extends PageParamVo{

#foreach ($column in $columns)
/**
 * $column.comments
 */
@ApiModelProperty("$column.comments")
private $column.attrType $column.attrname;
#end

}