package ${package}.${moduleName}.service.handle;

import org.apache.commons.lang3.ObjectUtils;
import org.apache.commons.lang3.math.NumberUtils;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.stereotype.Service;
import win.trust.door.model.base.DataWithPagination;
import win.trust.door.model.base.PageRequest;
import win.trust.door.model.base.ResultData;
import ${package}.${moduleName}.request.${className}AddRequest;
import ${package}.${moduleName}.request.${className}UpdateRequest;
import ${package}.${moduleName}.request.${className}BatchDeleteRequest;
import ${package}.${moduleName}.dto.${className}QueryDTO;
import ${package}.service.${moduleName}.${className}Service;
import ${package}.${moduleName}.entity.${className};

import java.util.List;

/**
 * Created by Intellij IDEA.
 *
 * @author: zhangchi
 * @date: 2024/1/11 15:17
 * @description:
 */
@Service
@Component
public class Handle${className}Service {
    @Autowired
    private I${className}Service ${classname}Service;

    public DataWithPagination<${className}> getList(PageRequest<${className}QueryDTO> pageRequest) {
        DataWithPagination<${className}> dataWithPagination = new DataWithPagination<>();
        int pageNo = pageRequest.getPageNo();
        int pageSize = pageRequest.getPageSize();
        dataWithPagination.setPageNo(pageNo);
        dataWithPagination.setPageSize(pageSize);

        List<${className}> list;
        ${className} info = new ${className}();
        if (ObjectUtils.isNotEmpty(pageRequest.getData())) {
            BeanUtils.copyProperties(pageRequest.getData(), info);
        }
        // 计算偏移量（从第几页开始）
        Integer offset = (pageNo - 1) * pageSize;
        list = ${classname}Service.selectListByPage(info, offset, pageSize);
        if (ObjectUtils.isEmpty(list)) {
            return dataWithPagination;
        }
        dataWithPagination.setList(list);
        //查询总数
            ${className}QueryDTO dto = new ${className}QueryDTO();
        BeanUtils.copyProperties(info, dto);
        int totalCount = ${classname}Service.queryCount(dto);
        dataWithPagination.setTotalCount(totalCount);
        //计算totalPage
        int totalPage = (int) Math.ceil(NumberUtils.DOUBLE_ONE * totalCount / pageSize);
        dataWithPagination.setTotalPage(totalPage);
        return dataWithPagination;
    }

    public Boolean add(${className}AddRequest request) {
            ${className}QueryDTO queryDTO = new ${className}QueryDTO();
        BeanUtils.copyProperties(request, queryDTO);
        ${className} vo = ${classname}Service.queryInfo(queryDTO);
        if (ObjectUtils.isNotEmpty(vo)) {
            throw new SystemException("信息已存在");
        }
            ${className}InsertDTO insertDTO = new ${className}InsertDTO();
        BeanUtils.copyProperties(request, insertDTO);
            ${classname}Service.insertSelective(insertDTO);
        return true;
    }

    public ResultData<${className}> info(Integer id) {
            ${className}QueryDTO queryDTO = new ${className}QueryDTO();
        queryDTO.setId(id);
        ${className} vo = ${classname}Service.queryInfo(queryDTO);
        return ResultData.success(vo);
    }

    public ResultData update(${className}UpdateRequest request) {
        boolean exist = verifyInfoExistById(request.getId());
        if (!exist) {
            throw new SystemException("信息不存在");
        }
            ${className}UpdateDTO info = new ${className}UpdateDTO();
        BeanUtils.copyProperties(request, info);
            ${classname}Service.updateById(info);
        return true;
    }

    public Boolean delete(Integer id) {
        boolean exist = verifyAreaExistById(id);
        if (!exist) {
            throw new SystemException("不存在");
        }
        ${className} info = new ${className}();
        info.setId(id);
        info.setIsDelete(1);
            ${classname}Service.updateById(info);
        return true;
    }


    private boolean verifyAreaExistById(Integer id) {
            ${className}QueryDTO queryDTO = new ${className}QueryDTO();
        queryDTO.setId(id);
        ${className} vo = ${classname}Service.queryInfo(queryDTO);
        if (ObjectUtils.isEmpty(vo)) {
            return false;
        }
        return true;
    }

}
