package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.dto.${className}QueryDTO;
import ${package}.${moduleName}.dto.${className}InsertDTO;
import ${package}.${moduleName}.dto.${className}UpdateDTO;
import ${package}.${moduleName}.vo.${className}VO;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper {

    List<TemplateCodeGenVO> findList(${className}QueryDTO ${classname}QueryDTO);

    int findConut(${className}QueryDTO ${classname}QueryDTO);

    List<${className}VO> findListForPage(${className}QueryDTO ${classname}QueryDTO);

    ${className}VO selectById(Long id);

    ${className}VO selectOne(${className}QueryDTO ${classname}QueryDTO);

    Integer insert(${className} ${classname});

    Integer insertSelective(${className} ${classname});

    Integer updateById(${className} ${classname});

    Integer deleteById(Long id);


}
