package ${package}.service.${moduleName}.impl;


import ${package}.${moduleName}.dto.${className}DTO;
import ${package}.${moduleName}.vo.${className}VO;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.service.${moduleName}.${className}Service;
import org.springframework.stereotype.Service;
import com.shebao.framework.util.page.PageRequest;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;

import java.util.List;


@Service
@Slf4j
public class ${className}ServiceImpl  implements ${className}Service {

    @Autowired
    ${className}Mapper ${classname}Mapper;

    @Override
    public List<${className}VO> findList(${className}DTO ${classname}DTO) {
        return ${classname}Mapper.findList(${classname}DTO);
    }

    @Override
    public List<${className}VO> findListForPage(PageRequest<${className}DTO> pageRequest) {
        ${className}DTO ${classname}DTO = pageRequest.getData();
        return ${classname}Mapper.findListForPage(${classname}DTO);
    }

    @Override
    public ${className}VO selectById(Long id) {
        return ${classname}Mapper.selectById(id);
    }

    @Override
    public Integer insert(${className}DTO ${classname}DTO) {
        ${className} ${classname} = new ${className}();
        BeanUtils.copyProperties(${classname}DTO, ${classname});
        return ${classname}Mapper.insert(${classname});
    }

    @Override
    public Integer insertSelective(${className}DTO ${classname}DTO) {
        ${className} ${classname} = new ${className}();
        BeanUtils.copyProperties(${classname}DTO, ${classname});
        return ${classname}Mapper.insertSelective(${classname});
    }

    @Override
    public Integer updateById(${className}DTO ${classname}DTO) {
        ${className} ${classname} = new ${className}();
        BeanUtils.copyProperties(${classname}DTO, ${classname});
        return ${classname}Mapper.updateById(${classname});
    }

    @Override
    public Integer deleteById(Long id) {
        return ${classname}Mapper.deleteById(id);
    }
}
