package ${package}.service.${moduleName};

import ${package}.${moduleName}.dto.${className}QueryDTO;
import ${package}.${moduleName}.dto.${className}InsertDTO;
import ${package}.${moduleName}.dto.${className}UpdateDTO;
import ${package}.${moduleName}.vo.${className}VO;
import com.shebao.framework.util.page.PageRequest;
import com.shebao.framework.util.bean.ResultData;

import java.util.List;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    ResultData<List<${className}VO>> findList(${className}QueryDTO ${classname}QueryDTO);

    ResultData<List<${className}VO>> findListForPage(${className}QueryDTO ${classname}QueryDTO);

    ResultData<${className}VO> selectById(Long id);

    ResultData<${className}VO> selectOne(${className}QueryDTO ${classname}QueryDTO);

    ResultData<Integer> insert(${className}InsertDTO ${classname}InsertDTO);

    ResultData<Integer> insertSelective(${className}InsertDTO ${classname}InsertDTO);

    ResultData<Integer> updateById(${className}UpdateDTO ${classname}UpdateDTO);

    ResultData<Integer> deleteById(Long id);


}

